
Welcome, <%= @username %>
<%#= @username %>


<table>

<tr>
	<th>Opponent</th>
	<th>Score</th>
	<th>Play</th>
</tr>

<% @matches.each do |x| 
	if x['p1id'] == @userid
	  @oppid = x['p2id']
	else
		@oppid = x['p1id']
	end

  matchid = x['id']
	oppname = RPS.orm.getoppname(@oppid).first['playername']%>

  <tr><td><%= oppname %></td><td>2-1</td><td>
  <form method="post" action="/games">
    <input type="hidden" name="matchid" value='<%= matchid %>' />
    <input type="submit" value="View Match" />
  </form>
  </td></tr>
  
<%end %>



</table>

